
@{
    ViewBag.Title = "Sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section jsFooter{
    <script src="~/Scripts/plugins/mustache.min.js"></script>
    <script>
        var filter = {
            Ten: new Array(),
            LoaiSanPham: new Array(),
            ThuongHieu: new Array(),
            spCount:20
        };    
        function loadData() {
            $.ajax({
                url: '/SanPham/LoadData',
                type: 'GET',
                data: { jsonFilter: JSON.stringify(filter) },
                dataType: 'json',
                success: function (response) {
                    var data = response.data;
                    if (data.length != 0) {
                        var html = '';
                        var template = $('#data-template').html();
                        $.each(data, function (i, item) {
                            html += Mustache.render(template, {
                                Id: item.Id,
                                Ten: item.Ten,
                                GiaBan: item.GiaBan,
                                HinhAnh: item.HinhAnh
                            });
                        });
                        html += '<div class="text-center w-100 pt-3"><button onclick="XemThem()" class="site-btn sb-line sb-dark">Xem thêm</button></div>';
                        $('#SanPhamData').html(html);
                    }
                    else {
                        $('#SanPhamData').html('Không có sản phẩm');
                    }
                   
                }
            });
        }
        function addLSP(Id, Ten) {
            if (filter.LoaiSanPham.find(x => x == Id) == undefined) {
                filter.LoaiSanPham.push(Id);
                var html = $('#Filter').html();
                var template = $('#lspFilter-template').html();
                html += Mustache.render(template, {
                    Id: Id,
                    Ten: Ten
                });
                $('#Filter').html(html);
            }           
        }
        function addTH(Id,Ten) {
            if (filter.ThuongHieu.find(x => x == Id) == undefined) {
                filter.ThuongHieu.push(Id);
                var html = $('#Filter').html();
                var template = $('#thFilter-template').html();
                html += Mustache.render(template, {
                    Id: Id,
                    Ten: Ten
                });
                $('#Filter').html(html);
            }
        }
        function lspFilterRemove(Id) {         
            filter.LoaiSanPham = filter.LoaiSanPham.filter(x => x != Id);        
            $("#LSP" + Id).remove();
        }
        function thFilterRemove(Id) {
            filter.ThuongHieu = filter.ThuongHieu.filter(x => x != Id);
            $("#TH" + Id).remove();
        }
        function tenFilterRemove(Id) {
            filter.Ten = filter.Ten.filter(x => x != Id);
            $("#TenSP"+Id).remove();
        }
        $('#txtTenSP').off('keypress').on('keypress', function (e) {
            if (e.which == 13) {
                e.preventDefault();
                var Ten = $('#txtTenSP').val();
                $('#txtTenSP').val('');
                if (filter.Ten.find(x => x == Ten) == undefined) {
                    filter.Ten.push(Ten);
                    var html = $('#Filter').html();
                    var template = $('#tenFilter-template').html();
                    html += Mustache.render(template, {
                        Ten: Ten
                    });
                    $('#Filter').html(html);
                }
            }
        });
        function XemThem() {
            filter.spCount += 10;
            loadData();
        }
        loadData();
    </script>
    }
<div id="Filter" class="container"></div>
<!-- Category section -->
<section class="category-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 order-2 order-lg-1">
                 <div class="filter-widget">
                    <h2 class="fw-title">Tên sản phẩm</h2>
                    <input id="txtTenSP" type="text" class="form-control" placeholder="Nhập tên sản phẩm" />
                     <button onclick="loadData()" class="form-control">Cập nhật</button>
                </div>
                <div class="filter-widget">
                    <h2 class="fw-title">Loại sản phẩm</h2>
                    <ul class="category-menu">
                        @foreach(var item in ViewBag.listLoaiSanPham)
                        {
                            <li id="LSP@item.Id"><a id="LSP@item.Id" onclick="addLSP(@item.Id,'@item.Ten')">@item.Ten</a></li>
                        }
                        
                    </ul>
                </div>
               <div class="filter-widget">
                    <h2 class="fw-title">Thương hiệu</h2>
                    <ul class="category-menu">
                        @foreach(var item in ViewBag.listThuongHieu)
                        {
                            <li id="TH@item.Id"><a id="TH@item.Id" onclick="addTH(@item.Id,'@item.Ten')">@item.Ten</a></li>
                        }
                        
                    </ul>
                </div>
            </div>

            <div class="col-lg-9  order-1 order-lg-2 mb-5 mb-lg-0">
                <div id="SanPhamData" class="row">                                                
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Category section end -->
<script id="data-template" type="x-tmpl-mustache">
    <div class="col-lg-4 col-sm-6">
        <div class="product-item">
            <div class="pi-pic">
                <img src="{{HinhAnh}}" alt="">
                <div class="pi-links">
                    <a id="{{Id}}" href="#" class="add-card"><i class="flaticon-bag"></i><span>Thêm vào giỏ</span></a>
                </div>
            </div>
            <div class="pi-text">
                <h6>{{GiaBan}}₫</h6>
                <p>{{Ten}}</p>
            </div>
        </div>
    </div>
</script>
<script id="lspFilter-template" type="x-tmpl-mustache">
    <button class="btn btn-dark" id="LSP{{Id}}" onclick="lspFilterRemove('{{Id}}')">Loại thực phẩm: {{Ten}}</button>
</script>
<script id="thFilter-template" type="x-tmpl-mustache">
    <button class="btn btn-dark" id="TH{{Id}}" onclick="thFilterRemove('{{Id}}')">Thương hiệu: {{Ten}}</button>
</script>
<script id="tenFilter-template" type="x-tmpl-mustache">
    <button class="btn btn-dark" id="TenSP{{Ten}}" onclick="tenFilterRemove('{{Ten}}')">Tên: {{Ten}}</button>
</script>