
@model List<NomNom.Models.GioHangs.GioHangDTO>
@{
    ViewBag.Title = "Giỏ hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section jsFooter{
    <script src="~/Scripts/plugins/notify.min.js"></script>
    <script>
        $('#tblGioHang').on('click', 'button[type="button"]', function (e) {
            var row = $(this);
            var Id = $(this).data('id');
            $.ajax({
                url: '/GioHang/Remove',
                type: 'POST',
                data: { SanPhamID: Id},
                dataType: 'json',
                success: function (response) {
                    if (response.status == 1) {
                        $.notify("Xóa thành công", "success");
                        row.closest('tr').remove();
                        ReloadTongTien();
                    }
                    else if (response.status == 0)
                        $.notify("Xóa thất bại", "error");
                }
            })           
        })

        $('.txtSoLuong').off('keypress').on('keypress', function (e) {
            if (e.which == 13) {
                var Id = $(this).data('id');
                var SoLuong = $(this).val();
                $.ajax({
                    url: '/GioHang/UpdateSoLuong',
                    type: 'POST',
                    data: { SanPhamID: Id, SoLuong: SoLuong },
                    dataType: 'json',
                    success: function (response) {
                        if (response.status == 1) {
                            $.notify("Cập nhật thành công", "success");
                            ReloadTongTien();
                        }
                        else if (response.status == 0)
                            $.notify("Cập nhật thất bại", "error");
                    }
                })
            }
        })
        function ReloadTongTien() {
            var TongTien = 0;
            $('#tblGioHang tr:gt(0)').each(function () {
                var currentRow = $(this);
                var GiaBan = parseInt(currentRow.find('td:eq(0)').find('span').text());
                var SoLuong = parseInt(currentRow.find('td:eq(1)').find('input').val());
                currentRow.find('td:eq(2)').find('span').text(GiaBan * SoLuong);
                TongTien += GiaBan * SoLuong;
            });
            document.getElementById("TongTien").innerHTML = TongTien;
        }
        ReloadTongTien();
    </script>
}
<!-- cart section end -->
<section class="cart-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="cart-table">
                    <h3>Giỏ hàng của bạn</h3>
                    <div class="cart-table-warp">

                        <table id="tblGioHang">
                            <thead>
                                <tr>
                                    <th class="product-th">Sẩn phẩm</th>
                                    <th class="quy-th">Số lượng</th>
                                    <th class="total-th">Tổng tiền</th>
                                    <th>Xóa</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Count() == 0)
                                {
                                    <a>Không có dữ liệu</a>
                                }
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="product-col">
                                            <img src="@item.SanPhamHinhAnh" alt="">
                                            <div class="pc-title">
                                                <h4>@item.SanPhamTen</h4>
                                                <p><span id="GiaBan">@item.SanPhamGiaBan</span>₫</p>
                                            </div>
                                        </td>
                                        <td class="quy-col">
                                            <div class="quantity">
                                                <div class="pro-qty">
                                                    <input class="txtSoLuong" data-id="@item.SanPhamID" id="SoLuong" type="text" value="@item.SoLuong">
                                                </div>
                                            </div>
                                        </td>
                                        <td class="total-col"><h4><span id="Tong">@(item.SanPhamGiaBan * item.SoLuong)</span>₫</h4></td>
                                        <td><button data-id="@item.SanPhamID" type="button" class="btn btn-danger">Xóa</button></td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                    <div class="total-cost">
                        <h6>Tổng tiền <span id="TongTien"></span>₫</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 card-right">
                <a href="/DonHang/Dat" class="site-btn">Tiến hành đặt hàng</a>
                <a href="/SanPham" class="site-btn sb-dark">Tiếp tục mua sắm</a>
            </div>
        </div>
    </div>
</section>
<!-- cart section end -->
