
@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
}


<style>
    input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=submit] {
        width: 100%;
        background-color: #2a9fd6;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        input[type=submit]:hover {
            background-color: #45a049;
        }
</style>


<h3>Sửa Sản phẩm</h3>

<div style="width:50%;margin:auto">
    @using (Html.BeginForm("Delete", "SanPhamAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <label for="id">Mã sản phẩm</label>
        <input type="text" id="id" name="id" style="background-color:#5d5e63" placeholder="Mã sản phẩm.." required value="@Model.id" readonly>
        <label for="ten">Tên sản phẩm</label>
        <input type="text" id="ten" name="ten" style="background-color:#5d5e63" placeholder="Tên sản phẩm.." required value="@Model.ten" readonly>
        <label for="hinhanh">Hình ảnh</label>
        <img src="~/Images/@Model.hinhanh" style="width:200px;height:200px" />
        <div>
            <label>Loại sản phẩm</label>
            @Html.DropDownList("loai_id", null, new { @style = "background-color:#5d5e63" })
        </div>
        <div>
            <label>Thương hiệu</label>
            @Html.DropDownList("thuonghieu_id", null, new { @style = "background-color:#5d5e63" })
        </div>
        <label for="thongtin">Thông tin</label>
        <textarea readonly required id="thongtin" name="thongtin" placeholder="Thông tin sản phảm.." style="width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        background-color:#5d5e63;
        height:150px">@Model.thongtin</textarea>
        <label for="giaban">Giá bán</label>
        <input type="text" id="giaban" name="giaban" style="background-color:#5d5e63" placeholder="Giá bán.." required value="@Model.giaban" readonly>
        <label for="tinhtrang">Tình trạng</label>
        <select id="tinhtrang" name="tinhtrang" style="background-color:#5d5e63" required>

            <option selected value="0">Khóa</option>
        </select>

        <input type="submit" value="Xác nhận xóa">
    }
</div>