
@model IEnumerable<NomNomConnection.NhaCungCap>
    @{
        ViewBag.Title = "Index";
        Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
    }
   
    <head>
        <style>
            table {
                border-collapse: collapse;
                width: 50%;
                margin: auto;
            }

            th, td {
                text-align: center;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #5d5e63
            }

            th {
                background-color: #2a9fd6;
                color: white;
            }
        </style>
    </head>
    <body>

        <h2>Quản lí nhà cung cấp</h2>

        <table>
            <tr>
                <th>Mã nhà cung cấp</th>
                <th>Tên nhà cung cấp</th>
                <th>Tình trạng</th>
                <th colspan="2">
                    <a href="@Url.Action("Create","NhaCungCapAdmin")"><img src="~/Images/AddIcon.png" /></a">
                </th>
            </tr>
            @foreach(var ncc in Model)
            {
            <tr>
                <td>@ncc.id</td>
                <td>@ncc.ten</td>
                <td>@ncc.tinhtrang</td>
                <td><a href="@Url.Action("Edit","NhaCungCapAdmin",new { id=ncc.id})"><img src="~/Images/EditIcon.png" /></a></td>
                <td><a href="@Url.Action("Delete","NhaCungCapAdmin",new { id=ncc.id})"><img src="~/Images/DeleteIcon.png" /></a></td>
            </tr>
            }
        </table>

    </body>
