
@model List<NomNom.Models.SanPhams.SanPhamDTO>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{

}

<link href="~/Assets/admin/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
<!-- Page level plugins -->
<script src="~/Assets/admin/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="~/Assets/admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<!-- Page level custom scripts -->
<script src="~/Assets/admin/js/demo/datatables-demo.js"></script>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="form-row card-header py-3">
        <div class="col-sm-12 col-md-5"><h6 class="m-0 font-weight-bold text-primary">Danh mục Sản phẩm</h6></div>
        <div class="col-sm-12 col-md-7"><a href="@Url.Action("Create","SanPham")"><button style="float:right" class="btn btn-primary">Thêm mới</button></a></div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Sản phẩm</th>
                        <th>Loại sản phẩm</th>
                        <th>Thương hiệu</th>
                        <th>Hình ảnh</th>
                        <th>Thông tin</th>
                        <th>Giá bán</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            <a href="@Url.Action("Edit","SanPham",new { Id = item.Id})">Sửa </a>
                            <a href="@Url.Action("Delete","SanPham",new { Id = item.Id })">Xóa</a>
                        </td>
                        <td>@item.Ten</td>
                        <td>@((ViewBag.listLoaiSanPham as List<NomNom.Models.LoaiSanPhams.LoaiSanPhamDTO>).Find(x => x.Id == item.LoaiID).Ten)</td>
                        <td>@((ViewBag.listThuongHieu as List<NomNom.Models.ThuongHieus.ThuongHieuDTO>).Find(x=>x.Id==item.ThuongHieuID).Ten)</td>
                        
                        @if (item.HinhAnh != null)
                        {
                            @*về sau chỉnh lại khúc hình ảnh cho nó load thumb của ảnh thay vì resize*@
                            <td><a href="@item.HinhAnh"><img src="@item.HinhAnh" style="object-fit:contain;width:50px;height:50px"></a></td>
                        }
                        else
                        {
                            <td><img src="~/Assets/image/NoImage.png" style="object-fit:contain;width:50px;height:50px"></td>
                        }
                        <td>@item.ThongTin</td>
                        <td>@item.GiaBan</td>
                    </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
