
@{
    ViewBag.Title = "Đơn hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section jsFooter{
    <script>
        $("#tblDonHang tr").click(function() {
            var rs = $(this).find('td:eq(0)').text();
            window.location.href = '/DonHang/ChiTiet/'+rs;
        });
    </script>
}
<section class="">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="cart-table">
                    <h3>Đơn hàng của bạn</h3>
                    <div class="cart-table-warp">
                        <table id="tblDonHang">
                            <thead>
                                <tr>
                                    <th class="size-th">Mã đơn hàng</th>
                                    <th class="size-th">Ngày đặt</th>
                                    <th class="size-th">Tổng tiền</th>
                                    <th class="total-th">Phí ship</th>
                                    <th class="size-th">Tình trạng</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.DonHang)
                                {
                                    <tr>
                                        <td class="size-col"><h4>@item.Id</h4></td>
                                        <td class="size-col"><h4>@(item.Ngay.ToString("dd/M/yyyy"))</h4></td>
                                        <td class="size-col"><h4>@item.ThanhTien₫</h4></td>
                                        <td class="total-col"><h4>@item.PhiShip₫</h4></td>
                                        <td class="size-col"><h4>@item.TinhTrangTen</h4></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
