@model NomNom.Models.LoaiSanPhams.LoaiSanPhamInput
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{

}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary"><a href="@Url.Action("Index","LoaiSanPham")">Danh mục Loại sản phẩm</a> > Thêm mới</h6>
    </div>
    <div class="card-body">
        <div class="panel panel-info shadow mb-4" style="width:500px;margin:auto;border:1px groove">
            <div class="panel-heading">
                <div class="panel-title">Thêm mới</div>     
            </div>
            @using (Html.BeginForm("Create", "LoaiSanPham", FormMethod.Post, new { @class = "login-form" }))
            {
                @Html.AntiForgeryToken()
                
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-11 d-flex justify-content-center" style="margin-top:10px">
                        <div class="col-11 form-row w-100">
                            <div class="w-100">@Html.LabelFor(model => model.Ten)</div>
                            <div class="w-100">@Html.TextBoxFor(model => model.Ten, new { @class="form-control"} )</div>
                            <div class="w-100">@Html.ValidationMessageFor(model => model.Ten, "", new { @class = "text-danger" })</div>                          
                        </div>              
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-11 d-flex justify-content-center" style="margin-top:10px">
                        <div class="col-11 form-row w-100">
                            <div class="w-100">@Html.LabelFor(model => model.GhiChu)</div>
                            <div class="w-100">@Html.TextAreaFor(model => model.GhiChu, new { @class = "form-control" })</div>
                            <div class="w-100">@Html.ValidationMessageFor(model => model.GhiChu, "", new { @class = "text-danger" })</div>
                        </div>              
                    </div>                   
                    <div class="form-row" style="margin-top:10px;margin-bottom:10px">                       
                            <input type="submit" value="Xác nhận" class="btn btn-primary" style="margin:auto"/>                    
                    </div>              
            }
        </div>
    </div>
</div>