@model NomNom.Models.PhieuNhaps.PhieuNhapInput
@{
    ViewBag.Title = "Phiếu nhập - Cập nhật";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section jsFooter{
    <script src="~/Scripts/plugins/mustache.min.js"></script>

    <script>
        function loadChiTiets() {
            var jsonString = '@ViewBag.listChiTiet';
            jsonString = jsonString.replace(/&quot;/ig, '"');         
            var ChiTiets = JSON.parse(jsonString);
            
            if (ChiTiets.length > 0) {
                var template = $('#ChiTietTemplate').html();
                var html = '';
                $.each(ChiTiets,function (index, item) {
                    html += Mustache.render(template, {
                        Id: item.SanPhamID,
                        Ten: item.SanPhamTen,
                        SoLuong: item.SoLuong,
                        GiaNhap: item.GiaNhap
                    });
                    console.log(item);
                });
                $('#dataChiTiet').html(html);
            }
        }
        loadChiTiets();
        function passChiTiets() {
            var data = {
                Id: $('#Id').val(),
                Ngay: new Date($('#Ngay').val()),
                NhaCungCapID: $('#NhaCungCapID').val(),
                GhiChu: $('#GhiChu').val(),
                ChiTiets: new Array()
            };
            console.log(data.Id);
            $('#tblChiTiet tr:gt(0)').each(function () {
                var currentRow = $(this);
                var SanPhamID = currentRow.find('td:eq(0)').text();
                var SoLuong = currentRow.find('td:eq(2)').find('input[type = "number"]').val();
                var GiaNhap = currentRow.find('td:eq(3)').find('input[type = "text"]').val();
                var obj = {
                    SanPhamID: SanPhamID,
                    SoLuong: SoLuong,
                    GiaNhap: GiaNhap
                };
                data.ChiTiets.push(obj);
            });
            //verify data
            if ($('#Ngay').val() == "") {
                $('#Ngay').focus();
                return;
            }
            var isValid = true;
            data.ChiTiets.forEach(function (item, index) {
                if (item.SoLuong < 1 || item.GiaNhap < 1) {
                    isValid = false;
                }
            })
            if (!isValid) {
                alert("Giá và số lượng phải dương");
                return;
            }
            //----
            $.ajax({
                url: '/Admin/PhieuNhap/JsonCreate',
                type: 'POST',
                dataType: 'json',
                data: { jsonInput: JSON.stringify(data) },
                success: function (response) {
                    if (response.status) {
                        window.location.href = '/Admin/PhieuNhap/Index'
                    }
                    else
                        alert('Server gặp lỗi');
                }
            })

        }
        function ThemSP() {
            var template = $('#ChiTietTemplate').html();
            var html = '';
            $('#tblSanPham tr:gt(0)').each(function () {
                var currentRow = $(this);
                var Id = currentRow.find('td:eq(0)').text();
                var Ten = currentRow.find('td:eq(1)').text();
                var IsSelected = currentRow.find('input[type = "checkbox"]').is(':checked');
                if (IsSelected) {
                    html += Mustache.render(template, {
                        Id: Id,
                        Ten: Ten,
                        SoLuong: 0,
                        GiaNhap:0
                    })
                }
            });
            var oldHtml = $('#dataChiTiet').html();
            $('#dataChiTiet').html(oldHtml+html);

        }
        function TimKiemSP() {
            var listID = [];
            $('#tblChiTiet tr:gt(0)').each(function () {
                var currentRow = $(this);
                var Id = currentRow.find('td:eq(0)').text();
                listID.push(Id);
            });


            var str = $('#txtTimKiem').val();
            $.ajax({
                url: '/Admin/SanPham/LoadData',
                type: 'GET',
                dataType: 'json',
                data: {
                    'Ten':str
                },
                success: function (response) {
                    if (response.status) {
                        var data = response.data.filter(x => listID.findIndex(y => y == x.Id) == -1);
                        if (data.length > 0) {
                            var html = '';
                            var template = $('#SanPhamTemplate').html();
                            $.each(data, function (i, item) {

                                html += Mustache.render(template, {
                                    Id: item.Id,
                                    Ten: item.Ten,
                                })
                            })
                            $('#dataSanPham').html(html);
                        }
                        else $('#dataSanPham').html('<center>Không có dữ liệu</center>');
                    }
                    else {
                        $('#dataSanPham').html('<center>Không có dữ liệu</center>');
                    }
                }

            })
        }

    </script>
    <script>        
        $('#tblChiTiet').on('click', 'button[type="button"]', function (e) {
            $(this).closest('tr').remove();
        })
    </script>
}
<div id="themSPModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Chọn sản phẩm</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
                <div class="form-row">
                    <div class="col-6">
                        <input id="txtTimKiem" type="text" placeholder="Nhập tên sản phẩm" class="form-control" />
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-primary" id="btnTimKiem" onclick="TimKiemSP()">Tìm kiếm</button>
                    </div>
                </div>
                <table id="tblSanPham" class="table" style="table-layout:fixed">
                    <thead>
                        <tr>
                            <td style="display:none;">ID</td>
                            <td>Tên sản phẩm</td>
                            <td style="width:75px">Chọn</td>
                        </tr>
                    </thead>
                    <tbody id="dataSanPham"></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="ThemSP()">Xác nhận</button>
            </div>
        </div>

    </div>
</div>
<script id="SanPhamTemplate" type="x-tmpl-mustache">
    <tr>
        <td style="display:none;">{{Id}}</td>
        <td>{{Ten}}</td>
        <td style="width:75px"><input type="checkbox" id="{{Id}}" /></td>
    </tr>
</script>
<script id="ChiTietTemplate" type="x-tmpl-mustache">
    <tr>
        <td style="display:none">{{Id}}</td>
        <td>{{Ten}}</td>
        <td style="width:125px"><input style="width:100px" type="number" min="1" step="1" placeholder="Nhập số lượng" value="{{SoLuong}}"/></td>
        <td style="width:125px"><input style="width:100px" type="text" pattern = "[0-9]+" placeholder="Nhập giá" value="{{GiaNhap}}"/></td>
        <td style="width:75px"><button type="button" class="btn btn-danger">Xóa</button></td>
    </tr>
</script>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary"><a href="@Url.Action("Index","PhieuNhap")">Quản lý phiếu nhập</a> > Cập nhật</h6>
    </div>
    <div class="card-body">
        <div class="panel panel-info shadow mb-4" style="width:700px;margin:auto;border:1px groove">
            <div class="panel-heading" style="background-color: #d9edf7;padding: 10px 15px;color: #31708f;">
                <div class="panel-title" style="font-size: 16px;color: inherit;">Thêm mới</div>
            </div>
            @using (Html.BeginForm("Create", "PhieuNhap", FormMethod.Post, new { @class = "login-form" }))
            {
                @Html.AntiForgeryToken()
                @Html.TextBoxFor(model => model.Id, new { @class = "form-control",@style="display:none" })
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="col-12 d-flex justify-content-start align-items-start" style="margin-top:10px">
                    <div class="col-6 form-row">
                        <div class="w-100">@Html.LabelFor(model => model.Ngay)</div>
                        <div class="w-100">@Html.TextBoxFor(model => model.Ngay, "{0:yyyy-MM-dd}", new { type = "date", @class = "form-control" })</div>
                    </div>
                    <div class="col-6 form-row" style="margin-left:20px">
                        <div class="w-100">@Html.LabelFor(model => model.NhaCungCapID)</div>
                        <div class="w-100">@Html.DropDownListFor(m => m.NhaCungCapID, new SelectList(ViewBag.listNCC, "Id", "Ten"), new { @class = "form-control" })</div>
                    </div>
                </div>
                <div class="col-12 d-flex justify-content-start align-items-start" style="margin-top:10px">
                    <div class="col-12 form-row w-100">
                        <div class="w-100">@Html.LabelFor(model => model.GhiChu)</div>
                        <div class="w-100">@Html.TextAreaFor(model => model.GhiChu, new { @class = "form-control" })</div>
                        <div class="w-100">@Html.ValidationMessageFor(model => model.GhiChu, "", new { @class = "text-danger" })</div>
                    </div>
                </div>
                <div class="col-12 d-flex justify-content-start align-items-start" style="margin-top:10px">
                    <div class="col-12 form-row w-100">
                        <nav class="navbar navbar-expand-sm navbar-light margin-top-15" style="background-color: #e3f2fd;">
                            <h4 class="modal-title">
                                <i class="fa fa-table"></i>
                                <span>Danh sách sản phẩm</span>
                            </h4>
                        </nav>
                        <button type="button" onclick="TimKiemSP()" class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="modal" data-target="#themSPModal">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="col-12 d-flex justify-content-start align-items-start" style="margin-top:10px">
                    <div class="col-12 form-row w-100">
                        <table id="tblChiTiet" class="table" style="table-layout:fixed">
                            <thead>
                                <tr>
                                    <td style="display:none"></td>
                                    <td>Tên sản phẩm</td>
                                    <td style="width:125px">Số lượng</td>
                                    <td style="width:125px">Giá nhập</td>
                                    <td style="width:75px">Xóa</td>
                                </tr>
                            </thead>
                            <tbody id="dataChiTiet"></tbody>
                        </table>
                    </div>
                </div>

                <div class="form-row" style="margin-top:10px;margin-bottom:10px">                
                    <button type="button" onclick="passChiTiets()" class="btn btn-primary" style="margin:auto">Xác nhận</button>
                </div>
            }
        </div>
    </div>
</div>


